*{
margin: 0;
padding: 0;
}

body {
text-align: center;
}

.agrupar {
  width: 80%;
  margin: 15px auto;
  border: 1px solid black;
  background: gray;

}

.menu{
  padding: 5px 15px;
  text-align: center;
}

.menu li {
  list-style: none;
  padding: 8px;
  font: bold 14px verdara;
  display: inline-block;
  border: 1px solid black;
  background-color: #195319;
}

.justi {
  text-align: justify;
}
